html{
    height: 100%;
    overflow:visible;
}

body{
    font-family: Verdana, Calibri , sans-serif;
    margin: 0px;
    padding: 0px;
    margin:auto;
    min-width: 800px;
}
.logo_wrap{
    float: left;
    width: 200px;
}

nav{
    width:100%;
    background-color: #1E1F22;
    position: fixed;
    z-index: 14000;
}
/*menuresponsive*/
nav label{
    display: none;
}
nav input[type=checkbox]{
    display: none;
}



@media screen and (max-width:1345px) {
    .menu_mobile{
        display: block;
        color: white;
        background-color: #1E1F22;
        text-align: end;
        margin-right:15px;
        padding: 15px 0px;
        font-size:20px;
        }
    nav ul{
        display: none;
    }
}

.menu_mobile:hover{
    text-decoration: underline;
}
nav input[type=checkbox]:checked ~ul{
    display: block;
}
nav>ul{
    margin: 0px;
    padding:0px;
}

nav>ul>li{
    float:left;
    position: relative;
}

nav>ul>li>a{
    padding: 25px 30px;
    color: white;
    font-size: 15px;
}

nav>ul>li:hover a {
    padding: 20px 30px 25px 30px;
}
nav>ul::after{/*clear css pour éviter d'avoir les éléments flotant qui passe sur les éléments parent*/
    content: "";
    display: block;
    clear: both;
}
nav li{
    list-style-type: none;

}
.sous_menu{
    display: none;
}

nav a {
    display: inline-block;
    text-decoration: none;
}

nav li:hover .sous_menu{ /*.sous menu apres li hover qui permet de réafficher les sous menu avec un display inline block au parent*/
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 4000;
}

.sous_menu li{
    border-bottom: 1px solid black;
}
.sous_menu li a{
    padding: 15px 30px;
    font-size: 17px;
    color: white;
    width: 200px;
    background-color: #1E1F22;
}
.sous_menu li:hover a {
    background-color:#F55139 ;
}
.accueil:hover{
    background-color: rgba(245,81,57,0.70);
    border-top: 5px solid white ;
    transition-duration: 0.5s;
}

/*.accueil:hover a{
    color:black
}*/

.Moto_club:hover{
    background-color:#F55139;
    border-top: white 5px solid;
    transition-duration: 0.5s;
    
}

.Nos_prestations:hover{
    background: #F55139;
    border-top: 5px solid white;
    transition-duration: 0.5s;
}

.Carte_cadeau:hover{
    background-color:#F55139 ;
    border-top: white 5px solid ;
    transition-duration: 0.5s;
}

.Calendrier:hover{
    background-color: #F55139;
    border-top: white 5px solid ;
    transition-duration: 0.5s;
}
.A_propos:hover{
    background-color:#F55139 ;
    border-top: white 5px solid;
    transition-duration: 0.5s;
}
.connexions:hover{
    background-color: #F55139;
    border-top: white 5px solid ;
    transition-duration: 0.5s ;
}



.sous_menu li:hover{
    background-color:#F55139 ;
}

/*header*/

.banniere{
    background-color: #1E1F22;
}
#banniere{
    width: 100%;
    max-height: 100vh;
    border-bottom: 50px solid #1E1F22;
}

